twelvelabs
langchain
langchain_community
faiss-cpu
numpy
Flask
Flask-CORS
pdfplumber
sentence-transformers
faiss-cpu
requests
python-dotenv
pytest
Werkzeug
scikit-learn
twelvelabs
nltk
transformers
sentence-transformers
scikit-learn
pdfplumber
pytesseract
Pillow